@import url('https://rsms.me/inter/inter.css');

body {
    font-family: Inter, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 248, 255);
}

.container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
}

.child{

}

#ticker {
    font-size: 10rem;
}


h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    align-self: stretch;
    font-size: 0.6rem;
}

@media only screen and (max-width: 400px){
    html{
        font-size: 13px;
    }
    #ticker {
        font-size: 8rem;
    }
}